.blog-card{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
}

.blog-title{
    font-size: 20px;
}

.blog-card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);;
}

.blog-content-preview{
    font-size: 14px;
}

.author-avtar{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.author-name{
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
}

.author-card{
    display: flex;
    align-items: center;
    margin: 10px 5px;
}

.category-badge{
    background-color: black;
    color: white;
    padding: 2px 10px;
    margin: 3px;
    font-size: 10px;
    border-radius: 20px;
}